<h1>Index</h1>

<!--You work best:
With deadlines
Without deadlines

You consider yourself more:
Rational
Compassionate

You are more interested in:
Ideas
Facts-->

<form action="/" method="post">
  <label for="name">name</label>
  <input type="text" name="name" id="name">
  <h1>1. You work best:</h1>
  <input type="radio" name="q1" value="0"> With deadlines
  <br>
  <input type="radio" name="q1" value="1"> Without deadlines
  <br>
  <h1>2. You consider yourself more:</h1>
  <input type="radio" name="q2" value="0"> Rational
  <br>
  <input type="radio" name="q2" value="1"> Compassionate
  <br>
  <br>
  <h1>3. You are more interested in:</h1>
  <input type="radio" name="q3" value="0"> Ideas<br>
  <input type="radio" name="q3" value="1"> Facts<br>
  <br>
  <input type="submit" value="submit">

</form>


<img src="<%= @url %>" alt="" width="150px">
<br>

<% $hash.each do |key ,value| %>
<%= key %>
<%= value %>
    <br>

<%end  %>
